/* This Theme is called "Aura" and Obsidian Theme created by Ashwin Jadhav */
/* Thank's to Wasp by Santi Younger and Sanctum by @jdanielmourao theme for the inspiartion */

:root {
	--font-monospace: "Victor Mono", "Source Code Pro", monospace;
}

.theme-dark {
	/* Background */
	--background-primary: #161616;
	--background-primary-alt: #161616;
	--background-secondary: #161616;
	--background-secondary-alt: #161616;
	--background-modifier-border: #63959ca2;
	--interactive-accent: #63959c;
	--interactive-accent-hover: #457076;
	--vim-cursor: #63959c;

	/* Text */
	--text-normal: #faf2d6;
	--text-faint: #bdae93;
	--text-highlight-bg: #9dcad09a;
	--text-link-internal: #83a598;
	--text-link-external: #83a598;
	--text-accent-hover: #7caab0;
	--text-selection: #63959c;
	--text-accent: #63959c;
	--text-on-accent: #fff;

	/* Heading */
	--h1-color: #d04255;
	--h2-color: #d57634;
	--h3-color: #e5b567;
	--h4-color: #a8c373;
	--h5-color: #6c99bb;
	--h6-color: #9386c8;

	/* Code */
	--code-block: #83a598;
	--code-background: #101111;
}

/* ----- Callout ----- */
.callout:not(.is-collapsible) {
	padding: 0px;
}
.callout:not(.is-collapsible) .callout-content {
	padding: 0 var(--callout-title-padding) var(--callout-title-padding)
		var(--callout-title-padding);
}
.callout:not(.is-collapsible) .callout-title {
	background-color: rgba(var(--callout-color), 0 0.5);
	padding: var(--callout-title-padding);
	cursor: pointer;
}
.callout:not(.is-collapsible) .callout-title .callout-title-inner {
	font-weight: normal;
}

.callout:not(.is-collapsible) {
	border-color: rgba(var(--callout-color), 0.4);
	border-width: 1px;
	border-radius: var(--callout-radius);
	background-color: rgba(var(--ctp-mantle), 0.4);
}

.callout-content {
	padding: var(--callout-title-padding) var(--callout-title-padding)
		var(--callout-title-padding) calc(var(--callout-title-padding) * 1.5);
	border-top: 1px dashed rgba(var(--callout-color), 0.4);
}

.callout-fold {
	padding-right: 0px;
}

.callout-title-inner {
	flex-grow: var(--anp-callout-fold-position, unset);
}

.callout {
	--callout-title-padding: var(--size-4-2);
}
.callout.is-collapsible {
	border-color: rgba(var(--callout-color), 0.4);
	border-width: 1px;
	border-radius: var(--callout-radius);
	background-color: rgba(var(--ctp-mantle), 0.4);
	--bold-weight: bolder;
}
.callout.is-collapsible .callout-fold {
	padding-right: 0px;
}
.callout.is-collapsible .callout-title-inner {
	flex-grow: var(--anp-callout-fold-position, unset);
}
.callout.is-collapsible.is-collapsed {
	padding: 0;
}
.callout.is-collapsible.is-collapsed .callout-title {
	background-color: rgba(var(--callout-color), 0.1);
	padding: var(--callout-title-padding);
	cursor: pointer;
}
.callout.is-collapsible.is-collapsed .callout-content {
	display: none;
}
.callout.is-collapsible:not(.is-collapsed) {
	padding: 0px 0px var(--callout-title-padding) 0px;
}
.callout.is-collapsible:not(.is-collapsed) .callout-title {
	background-color: rgba(var(--callout-color), 0.1);
	padding: var(--callout-title-padding);
	border-color: rgba(var(--callout-color), 0.4);
	cursor: pointer;
}
.callout.is-collapsible:not(.is-collapsed) .callout-content {
	padding: var(--callout-title-padding) var(--callout-title-padding) 0
		calc(var(--callout-title-padding) * 1.5);
	border-top: 1px dashed rgba(var(--callout-color), 0.4);
}
.callout:not(.is-collapsible) {
	padding: 0px;
}
.callout:not(.is-collapsible) .callout-title {
	background-color: rgba(var(--callout-color), 0.1);
	padding: var(--callout-title-padding);
	border-color: rgba(var(--callout-color), 0.4);
}
.callout .list-collapse-indicator {
	margin-left: -35px;
	padding-right: 3px;
}

/* STYLE SETTINGS */
/* @settings
name: UI settings
id: aura-ui
settings:
   - 
      id: status-bar-position
      title: Status bar position
      description: change the status bar style
      type: variable-select
      default: fixed
      options:
         - 
            label: minimal
            value: fixed
         - 
            label: full
            value: inherit
*/
