/* This Theme is called "Aura" and Obsidian Theme created by Ashwin Jadhav */
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*------------------Style Settings-------------------*/
/* @settings

name: Aura
id: aura
level: 1
settings:
   - 
      id: aura-colors
      title: 🎨 Colors
      type: heading
      level: 2
      collapsed: true
   - 
      id: aura-accent
      title: Theme accent
      description: Change the theme accent as you like
      type: class-select
      allowEmpty: false
      default: color-blue
      options:
         - 
            label: Red
            value: color-red
         - 
            label: Orange
            value: color-orange
         - 
            label: Yellow
            value: color-yellow
         - 
            label: Green
            value: color-green
         - 
            label: Blue
            value: color-blue
         - 
            label: Purple
            value: color-purple
   - 
      id: background-primary
      title: Primary Background
      type: variable-color
      opacity: false
      format: hex
      alt-format:
         -
            id: accent-rgb
            format: rgb
      default: '#121212'
   - 
      id: background-secondary
      title: Secondary Background
      type: variable-color
      opacity: false
      format: hex
      alt-format:
         -
            id: accent-rgb
            format: rgb
      default: '#0f0f10'

   - 
      id: aura-text
      title: 📄 Text
      type: heading
      level: 2
      collapsed: true
   - 
      id: font-interface
      title: UI font
      description: Font used for the user interface
      type: variable-text
      default: Overpass, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
   - 
      id: font-text
      title: Text font
      description: Font used for the documents
      type: variable-text
      default: Rubik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif

   - 
      id: aura-workspace
      title: 🔲 Workspace
      type: heading
      level: 2
      collapsed: true
   - 
      id: status-bar-position
      title: Status bar
      description: change the status bar style
      type: variable-select
      default: fixed
      options:
         - 
            label: full
            value: inherit
         - 
            label: minimal
            value: fixed
         - 
            label: none
            value: none
   - 
      id: aura-sidebar
      title: Sidebar
      type: heading
      level: 3
      collapsed: true
   -
      id: aura-rainbow-folders
      title: Rainbow Folders
      description: Customize your folder colors
      type: class-toggle
   -
      id: aura-folder-icons
      title: Folder Icons
      description: Customize your folder by adding icons to it
      type: class-toggle
*/

body {
   --font-interface: 'Overpass', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
   --font-text: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

.theme-dark {
   --accent: var(--accent-blue);
   --accent-muted: var(--accent-blue-muted);

   --black: #000000;
   --white: #ffffff;
   --accent-red: #d04255;
   --accent-orange: #d57634;
   --accent-yellow: #e5b567;
   --accent-green: #a8c373;
   --accent-blue: #6c99bb;
   --accent-purple: #9386c8;

   --white-muted: #e1e1e1de;
   --accent-red-muted: #c43145;
   --accent-orange-muted: #a9581e;
   --accent-yellow-muted: #e3a032;
   --accent-green-muted: #8ca952;
   --accent-blue-muted: #477394;
   --accent-purple-muted: #685c98;

   /* Background */
   --background-primary: #121212;
   --background-primary-alt: #161616;
   --background-secondary: #0f0f10;
   --background-secondary-alt: #161616;

   /* Interictive elements */
   --interactive-accent: var(--accent);
   --interactive-accent-hover: var(--accent-muted);

   /* Text */
   --text-normal: var(--white);
   --text-faint: var(--white-muted);
   --text-on-accent: var(--white);
   --text-link-internal: var(--accent);
   --text-link-external: var(--accent);
   --text-selection: #ffffff13;
   --text-accent: var(--accent);
   --text-accent-hover: var(--accent-muted);
   --bold-color: var(--accent-red);
   --italic-color: var(--accent-blue);

   /* Headings	*/
   --h1-color: var(--accent-red);
   --h2-color: var(--accent-orange);
   --h3-color: var(--accent-yellow);
   --h4-color: var(--accent-green);
   --h5-color: var(--accent-blue);
   --h6-color: var(--accent-purple);

   /* Sidebar */
   --nav-item-color: var(--white);
}

/*------------------Accent-------------------*/
.color-red {
   --accent: var(--accent-red);
   --accent-muted: var(--accent-red-muted);
}
.color-orange {
   --accent: var(--accent-orange);
   --accent-muted: var(--accent-orange-muted);
}
.color-yellow {
   --accent: var(--accent-yellow);
   --accent-muted: var(--accent-yellow-muted);
}
.color-green {
   --accent: var(--accent-green);
   --accent-muted: var(--accent-green-muted);
}
.color-blue {
   --accent: var(--accent-blue);
   --accent-muted: var(--accent-blue-muted);
}
.color-purple {
   --accent: var(--accent-purple);
   --accent-muted: var(--accent-purple-muted);
}

/*------------------Folder Icons-------------------*/
.aura-folder-icons .nav-folder-children .nav-folder-title-content::before {
   content: '📂 ';
}

/*------------------Rainbow Folders-------------------*/

.aura-rainbow-folders .nav-folder-title-content .nav-file-title-content {
   color: var(--white);
}
.aura-rainbow-folders
   .nav-folder.mod-root
   > .nav-folder-children
   > .nav-folder:nth-child(11n + 2) {
   background-color: var(--accent-red);
   border-color: var(--accent-red);
   border-radius: 5px;
   margin-top: 2px;
}
.aura-rainbow-folders
   .nav-folder.mod-root
   > .nav-folder-children
   > .nav-folder:nth-child(11n + 3) {
   background-color: var(--accent-orange);
   border-color: var(--accent-orange);
   border-radius: 5px;
   margin-top: 2px;
}
.aura-rainbow-folders
   .nav-folder.mod-root
   > .nav-folder-children
   > .nav-folder:nth-child(11n + 4) {
   background-color: var(--accent-yellow);
   border-color: var(--accent-yellow);
   border-radius: 5px;
   margin-top: 2px;
}
.aura-rainbow-folders
   .nav-folder.mod-root
   > .nav-folder-children
   > .nav-folder:nth-child(11n + 5) {
   background-color: var(--accent-green);
   border-color: var(--accent-green);
   border-radius: 5px;
   margin-top: 2px;
}
.aura-rainbow-folders
   .nav-folder.mod-root
   > .nav-folder-children
   > .nav-folder:nth-child(11n + 6) {
   background-color: var(--accent-blue);
   border-color: var(--accent-blue);
   border-radius: 5px;
   margin-top: 2px;
}
.aura-rainbow-folders
   .nav-folder.mod-root
   > .nav-folder-children
   > .nav-folder:nth-child(11n + 7) {
   background-color: var(--accent-purple);
   border-color: var(--accent-purple);
   border-radius: 5px;
   margin-top: 2px;
}
.aura-rainbow-folders
   .nav-folder.mod-root
   > .nav-folder-children
   > .nav-folder:nth-child(11n + 8) {
   background-color: var(--accent-red-muted);
   border-color: var(--accent-red-muted);
   border-radius: 5px;
   margin-top: 2px;
}
.aura-rainbow-folders
   .nav-folder.mod-root
   > .nav-folder-children
   > .nav-folder:nth-child(11n + 9) {
   background-color: var(--accent-orange-muted);
   border-color: var(--accent-orange-muted);
   border-radius: 5px;
   margin-top: 2px;
}
.aura-rainbow-folders
   .nav-folder.mod-root
   > .nav-folder-children
   > .nav-folder:nth-child(11n + 10) {
   background-color: var(--accent-yellow-muted);
   border-color: var(--accent-yellow-muted);
   border-radius: 5px;
   margin-top: 2px;
}
.aura-rainbow-folders
   .nav-folder.mod-root
   > .nav-folder-children
   > .nav-folder:nth-child(11n + 11) {
   background-color: var(--accent-green-muted);
   border-color: var(--accent-green-muted);
   border-radius: 5px;
   margin-top: 2px;
}
.aura-rainbow-folders
   .nav-folder.mod-root
   > .nav-folder-children
   > .nav-folder:nth-child(11n + 12) {
   background-color: var(--accent-blue-muted);
   border-color: var(--accent-blue-muted);
   border-radius: 5px;
   margin-top: 2px;
}
/*------------------Callout-------------------*/
.callout:not(.is-collapsible) {
   padding: 0px;
}
.callout:not(.is-collapsible) .callout-content {
   padding: 0 var(--callout-title-padding) var(--callout-title-padding)
      var(--callout-title-padding);
}
.callout:not(.is-collapsible) .callout-title {
   background-color: rgba(var(--callout-color), 0 0.5);
   padding: var(--callout-title-padding);
   cursor: pointer;
}
.callout:not(.is-collapsible) .callout-title .callout-title-inner {
   font-weight: normal;
}
.callout:not(.is-collapsible) {
   border-color: rgba(var(--callout-color), 0.4);
   border-width: 1px;
   border-radius: var(--callout-radius);
   background-color: rgba(var(--ctp-mantle), 0.4);
}
.callout-content {
   padding: var(--callout-title-padding) var(--callout-title-padding)
      var(--callout-title-padding) calc(var(--callout-title-padding) * 1.5);
   border-top: 1px dashed rgba(var(--callout-color), 0.4);
}
.callout-fold {
   padding-right: 0px;
}
.callout-title-inner {
   flex-grow: var(--anp-callout-fold-position, unset);
}
.callout {
   --callout-title-padding: var(--size-4-2);
}
.callout.is-collapsible {
   border-color: rgba(var(--callout-color), 0.4);
   border-width: 1px;
   border-radius: var(--callout-radius);
   background-color: rgba(var(--ctp-mantle), 0.4);
   --bold-weight: bolder;
}
.callout.is-collapsible .callout-fold {
   padding-right: 0px;
}
.callout.is-collapsible .callout-title-inner {
   flex-grow: var(--anp-callout-fold-position, unset);
}
.callout.is-collapsible.is-collapsed {
   padding: 0;
}
.callout.is-collapsible.is-collapsed .callout-title {
   background-color: rgba(var(--callout-color), 0.1);
   padding: var(--callout-title-padding);
   cursor: pointer;
}
.callout.is-collapsible.is-collapsed .callout-content {
   display: none;
}
.callout.is-collapsible:not(.is-collapsed) {
   padding: 0px 0px var(--callout-title-padding) 0px;
}
.callout.is-collapsible:not(.is-collapsed) .callout-title {
   background-color: rgba(var(--callout-color), 0.1);
   padding: var(--callout-title-padding);
   border-color: rgba(var(--callout-color), 0.4);
   cursor: pointer;
}
.callout.is-collapsible:not(.is-collapsed) .callout-content {
   padding: var(--callout-title-padding) var(--callout-title-padding) 0
      calc(var(--callout-title-padding) * 1.5);
   border-top: 1px dashed rgba(var(--callout-color), 0.4);
}
.callout:not(.is-collapsible) {
   padding: 0px;
}
.callout:not(.is-collapsible) .callout-title {
   background-color: rgba(var(--callout-color), 0.1);
   padding: var(--callout-title-padding);
   border-color: rgba(var(--callout-color), 0.4);
}
.callout .list-collapse-indicator {
   margin-left: -35px;
   padding-right: 3px;
}

/*------------------Style Settings-------------------*/
.style-settings-container
   [data-level='1'].setting-item-heading
   .setting-item-name,
.style-settings-container
   [data-level='2'].setting-item-heading
   .setting-item-name,
.style-settings-container
   [data-level='3'].setting-item-heading
   .setting-item-name,
.style-settings-container
   [data-level='4'].setting-item-heading
   .setting-item-name,
.style-settings-container
   [data-level='5'].setting-item-heading
   .setting-item-name {
   color: var(--text-normal);
}
.style-settings-container
   [data-level='1'].setting-item-heading.style-settings-heading,
.style-settings-container
   [data-level='2'].setting-item-heading.style-settings-heading,
.style-settings-container
   [data-level='3'].setting-item-heading.style-settings-heading,
.style-settings-container
   [data-level='4'].setting-item-heading.style-settings-heading,
.style-settings-container
   [data-level='5'].setting-item-heading.style-settings-heading {
   border-bottom: 1px solid rgba(var(--ctp-text), 0.2);
}
.style-settings-container
   [data-level='1'].setting-item-heading.style-settings-heading:not(
      .is-collapsed
   ),
.style-settings-container
   [data-level='2'].setting-item-heading.style-settings-heading:not(
      .is-collapsed
   ),
.style-settings-container
   [data-level='3'].setting-item-heading.style-settings-heading:not(
      .is-collapsed
   ),
.style-settings-container
   [data-level='4'].setting-item-heading.style-settings-heading:not(
      .is-collapsed
   ),
.style-settings-container
   [data-level='5'].setting-item-heading.style-settings-heading:not(
      .is-collapsed
   ) {
   border-color: transparent;
   margin-bottom: 0px;
}
.style-settings-container [data-level='1'].style-settings-container,
.style-settings-container [data-level='2'].style-settings-container,
.style-settings-container [data-level='3'].style-settings-container,
.style-settings-container [data-level='4'].style-settings-container,
.style-settings-container [data-level='5'].style-settings-container {
   border: 1px solid black;
   border-radius: 5px;
   padding: 5px;
   background-color: var(--background-secondary);
}

.style-settings-heading[data-id='aura'] {
   background: linear-gradient(var(--accent-blue), var(--accent-purple));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-weight: bold;
}
