/* This Theme is called "Aura" and Obsidian Theme created by Ashwin Jadhav */
/* Thank's to Wasp by Santi Younger and Sanctum by @jdanielmourao theme for the inspiartion */

:root {
   --font-monospace: 'Victor Mono', 'Source Code Pro', monospace;
}

.theme-dark {
   /* Background */
   --background-primary: #161616;
   --background-primary-alt: #161616;
   --background-secondary: #161616;
   --background-secondary-alt: #161616;
   --background-modifier-border: #63959ca2;

   /* Text */
   --text-normal: #faf2d6;
   --text-faint: #bdae93;
   --text-highlight-bg: #9dcad09a;
   --text-link-internal: #83a598;
   --text-link-external: #83a598;
   --text-accent-hover: #7caab0;
   --text-selection: #63959c;
   --text-accent: #63959c;
   --text-on-accent: #fff;

   /* Heading */
   --h1-color: #d04255;
   --h2-color: #d57634;
   --h3-color: #e5b567;
   --h4-color: #a8c373;
   --h5-color: #6c99bb;
   --h6-color: #9386c8;

   /* Code */
   --code-block: #83a598;
   --code-background: #101111;

   /* MISC */
   --interactive-accent-rgb: #63959c;
   --vim-cursor: #63959c;
   --interactive-accent: #63959c;
   --interactive-before: #7c6f64;
}

.nav-file-title,
.nav-folder-title {
   color: var(--text-normal);
}

.nav-file-title.is-active,
.nav-folder-title.is-active,
body:not(.is-grabbing) .nav-file-title:hover,
body:not(.is-grabbing) .nav-folder-title:hover {
   background-color: var(--background-modifier-border);
   color: white;
}

.cm-s-obsidian span.cm-formatting-link {
   color: var(--text-normal);
}

.CodeMirror-guttermarker-subtle {
   color: var(--text-normal) !important;
}

button.mod-cta {
   background-color: var(--interactive-accent);
   color: var(--text-normal);
}

.vertical-tab-header-group-title {
   color: var(--text-white);
}

/* STYLE SETTINGS */
/* @settings

name: Aura
id: aura
settings:
    - 
        id: status-bar-position
        title: status bar position
        description: status bar style
        type: variable-select
        default: fixed
        options:
            - 
                label: default
                value: fixed
            - 
                label: full
                value: inherit

*/
