.aura-active-line-highlight .markdown-source-view .cm-active.cm-line {
	background-color: var(--background-secondary);
}

.aura-active-line-highlight-border .markdown-source-view .cm-active.cm-line {
	border-left: 2px solid var(--interactive-accent);
	margin-left: -2px !important;
	background-color: var(--background-secondary);
}
