.aura-card-layout:not(.aura-workspace-background) .mod-root .workspace-tabs .workspace-leaf {
	background-color: rgb(var(--cpt-mantle));
}

.aura-card-layout:not(.aura-colorful-frame):not(.aura-workspace-background) .workspace-tabs.mod-top,
body.aura-card-layout:not(.aura-colorful-frame):not(.aura-workspace-background) {
	--titlebar-background-focused: rgb(var(--cpt-mantle));
	--file-header-border: var(--border-width) dotted
		var(--background-modifier-border);
}

.aura-card-layout .mod-left-split .workspace-tab-header-container,
.aura-card-layout .workspace-tab-header-container {
	border-bottom: none;
}

.aura-card-layout .workspace-ribbon.mod-left {
	padding: 0;
	background-color: var(--tab-container-background);
	border: none;
}

.aura-card-layout .workspace-ribbon.mod-left:before {
	border-bottom: none;
	background-color: var(--tab-container-background) !important;
}

.aura-card-layout .side-dock-actions,
.aura-card-layout .side-dock-settings {
	padding: var(--ribbon-padding);
}

.aura-card-layout-actions.aura-card-layout .side-dock-actions {
	border-radius: var(--aura-card-radius, var(--radius-xl));
	border: 1px solid var(--tab-outline-color);
	background-color: var(--card-background-color);
	margin-top: 2px;
	margin-left: 2px;
}

.aura-card-layout-actions.aura-card-layout .side-dock-settings {
	border-radius: var(--aura-card-radius, var(--radius-xl));
	border: 1px solid var(--tab-outline-color);
	background-color: var(--card-background-color);
	margin-bottom: 2px;
	margin-left: 2px;
}

.aura-card-layout .workspace-ribbon.mod-left {
	margin-top: calc(var(--header-height) - 1px) !important;
}

.aura-card-layout .mod-vertical .workspace-tab-header-container {
	padding-left: var(--aura-card-header-left-padding, 20px);
}

.aura-card-layout .mod-vertical .workspace-tab-header-container-inner {
	margin: 6px -5px calc(var(--tab-outline-width) * -1);
	z-index: 1;
}

.aura-card-layout .mod-vertical .workspace-tabs {
	background-color: var(--tab-container-background);
	padding-left: var(--aura-card-layout-padding, 10px);
	padding-right: var(--aura-card-layout-padding, 10px);
	padding-bottom: var(--aura-card-layout-padding, 10px);
}

.aura-card-layout .mod-left-split .workspace-tab-container,
.aura-card-layout .mod-right-split .workspace-tab-container {
	/* padding-left: var(--aura-card-layout-padding, 10px);
   padding-right: var(--aura-card-layout-padding, 10px); */
	background-color: var(--tab-container-background);
	padding-bottom: var(--aura-card-layout-padding, 10px);
}

.aura-card-layout .mod-right-split .workspace-tab-container {
	padding-right: var(--aura-card-layout-padding, 10px);
}

.aura-card-layout
	.workspace-split.mod-horizontal
	> *
	> .workspace-leaf-resize-handle,
.aura-card-layout
	.workspace-split.mod-left-split
	> .workspace-leaf-resize-handle,
.aura-card-layout
	.workspace-split.mod-right-split
	> .workspace-leaf-resize-handle {
	border: 2px solid transparent;
}

.aura-card-layout .workspace-split .workspace-leaf-content {
	border-radius: var(--aura-card-radius, var(--radius-xl));
	background-color: var(--card-background-color);
	border: 1px solid var(--tab-outline-color);
}

.aura-card-layout:not(.aura-workspace-background)
	.workspace-split
	.workspace-leaf-content[data-type="file-explorer"] {
	background-color: var(--tab-container-background);
	box-shadow: none;
	border-width: 0;
}

.aura-card-layout.aura-card-layout-fileexplorer
	.workspace-split
	.workspace-leaf-content[data-type="file-explorer"] {
	background-color: var(--card-background-color);
	border-width: 1px;
}

.aura-card-layout .workspace-split .mod-stacked .workspace-leaf-content {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	border-left: none;
}

.aura-card-layout .workspace-split.mod-horizontal > * {
	width: unset;
}

.aura-card-layout .mod-stacked .workspace-tab-header {
	border-style: solid;
	border-radius: var(--aura-card-radius, var(--radius-xl)) 0 0
		var(--aura-card-radius, var(--radius-xl)) !important;
	border-width: var(--tab-outline-width);
	border-color: var(--tab-outline-color);
	border-right: var(--tab-outline-width) dashed var(--tab-outline-color);
}

.aura-card-layout .mod-stacked .workspace-leaf {
	border-left-width: 0;
	border-top-width: var(--tab-outline-width);
	border-bottom-width: var(--tab-outline-width);
	border-style: solid;
	border-color: var(--tab-outline-color);
	border-radius: 0 var(--aura-card-radius, var(--radius-xl))
		var(--aura-card-radius, var(--radius-xl)) 0;
}

.aura-card-layout .mod-stacked .workspace-tab-container {
	padding-bottom: var(--aura-card-layout-padding, 10px);
}

.aura-card-layout .mod-top .workspace-leaf-resize-handle {
	border-color: transparent;
}

body.aura-disable-borders,
body.aura-disable-borders.aura-workspace-background-image-dark-toggle {
	--divider-color: transparent;
}

.aura-card-layout .workspace-drop-overlay:before {
	width: calc(100% - 6px - var(--aura-card-layout-padding, 0) * 2);
	height: calc(100% - 6px - var(--aura-card-layout-padding, 0) * 2);
	margin: auto;
}
.workspace-split:not(.mod-root) .graph-controls,
.workspace-split:not(.mod-root) .graph-controls.is-close,
.workspace-split:not(.mod-root) .graph-controls:not(.is-close) {
	background-color: rgb(var(--cpt-crust));
}

.aura-card-layout .workspace-split:not(.mod-root) .graph-controls,
.aura-card-layout .workspace-split:not(.mod-root) .graph-controls.is-close,
.aura-card-layout
	.workspace-split:not(.mod-root)
	.graph-controls:not(.is-close),
.workspace-leaf .graph-controls,
.workspace-leaf .graph-controls.is-close,
.workspace-leaf .graph-controls:not(.is-close) {
	background-color: rgb(var(--side));
}

.aura-card-layout .workspace-ribbon.side-dock-ribbon.mod-left {
	margin-right: 2px;
}

body {
	--card-background-color: rgb(var(--cpt-crust));
}
