.aura-colorful-frame:not(.aura-translucent-window) {
	--aura-colorful-frame-opacity: 1;
	--titlebar-background: rgba(
		var(--cpt-accent),
		var(--aura-colorful-frame-opacity)
	);
	--titlebar-background-focused: rgba(
		var(--cpt-accent),
		var(--aura-colorful-frame-opacity)
	);
	--tab-container-background: rgba(var(--cpt-accent), 0.7);
}
.aura-colorful-frame.aura-card-layout:not(.aura-translucent-window)
	.horizontal-main-container,
.aura-colorful-frame.aura-card-layout:not(.aura-translucent-window)
	.mod-left-split
	.workspace-tabs.mod-top
	.workspace-tabs
	.workspace-tab-header-container,
.aura-colorful-frame.aura-card-layout:not(.aura-translucent-window)
	.mod-right-split
	.workspace-tabs.mod-top
	.workspace-tabs
	.workspace-tab-header-container,
.aura-colorful-frame.aura-card-layout:not(.aura-translucent-window)
	.mod-root
	.workspace-tabs
	.workspace-leaf,
.aura-colorful-frame.aura-card-layout:not(.aura-translucent-window)
	.mod-vertical,
.aura-colorful-frame.aura-card-layout:not(.aura-translucent-window)
	.mod-vertical
	.workspace-tab-container,
.aura-colorful-frame.aura-card-layout:not(.aura-translucent-window)
	.mod-vertical
	.workspace-tabs,
.aura-colorful-frame.aura-card-layout:not(.aura-translucent-window)
	.workspace-fake-target-overlay:not(.is-in-sidebar)
	.workspace-tabs
	.workspace-leaf,
.aura-colorful-frame.aura-card-layout:not(.aura-translucent-window)
	.workspace-split.mod-vertical,
.aura-colorful-frame.aura-card-layout:not(.aura-translucent-window) .workspace {
	--tab-container-background: rgba(
		var(--cpt-accent),
		var(--aura-colorful-frame-opacity)
	);
	--tab-container-background-focused: rgba(
		var(--cpt-accent),
		var(--aura-colorful-frame-opacity)
	);
	background-color: rgba(
		var(--cpt-accent),
		var(--aura-colorful-frame-opacity)
	);
}

.aura-colorful-frame:not(.aura-translucent-window)
	.mod-left-split
	.mod-top
	.workspace-tab-header-inner-icon,
.aura-colorful-frame.aura-card-layout:not(.aura-translucent-window)
	.mod-left-split
	.workspace-tab-header
	.workspace-tab-header-inner-icon,
.aura-colorful-frame:not(.aura-translucent-window)
	.mod-right-split
	.mod-top
	.workspace-tab-header
	.workspace-tab-header-inner-icon,
.aura-colorful-frame.aura-card-layout:not(.aura-translucent-window)
	.mod-left-split
	.mod-top
	.workspace-tab-header
	.workspace-tab-header-inner-icon:hover,
.aura-colorful-frame:not(.aura-translucent-window)
	.mod-right-split
	.mod-top
	.workspace-tab-header-inner-icon,
.aura-colorful-frame.aura-card-layout:not(.aura-translucent-window)
	.mod-right-split
	.workspace-tab-header
	.workspace-tab-header-inner-icon,
.aura-colorful-frame.aura-card-layout:not(.aura-translucent-window)
	.mod-right-split
	.workspace-tab-header
	.workspace-tab-header-inner-icon:hover,
.aura-colorful-frame:not(.aura-translucent-window)
	.mod-left-split
	.mod-top
	.workspace-tab-header-inner-icon:hover,
.aura-colorful-frame:not(.aura-translucent-window)
	.mod-right-split
	.mod-top
	.workspace-tab-header:not(.is-active)
	.workspace-tab-header-inner-icon,
.aura-colorful-frame:not(.aura-translucent-window)
	.mod-vertical
	.workspace-tab-header:not(.is-active),
.aura-colorful-frame:not(.aura-translucent-window)
	.mod-vertical
	.workspace-tab-header:not(.is-active)
	.workspace-tab-header-inner:hover,
.aura-colorful-frame:not(.aura-translucent-window)
	.mod-vertical
	.workspace-tab-header-inner-icon:hover,
.aura-colorful-frame.aura-card-layout:not(.aura-translucent-window)
	.workspace-tabs.mod-top
	.workspace-tab-header:not(.is-active)
	.workspace-tab-header-inner-icon,
.aura-colorful-frame:not(.aura-translucent-window)
	.workspace-split.mod-vertical
	.mod-top
	.workspace-tab-header:not(.is-active):hover,
.aura-colorful-frame.aura-card-layout:not(.aura-translucent-window)
	.mod-top
	.workspace-tab-header:not(.is-active):hover,
.aura-colorful-frame.aura-card-layout:not(.aura-translucent-window)
	.mod-vertical
	.workspace-tab-header:not(.is-active):hover,
.aura-colorful-frame:not(.aura-translucent-window)
	.workspace-tab-header-tab-list,
.aura-colorful-frame:not(.aura-translucent-window)
	.workspace-tab-header-tab-list
	.clickable-icon:hover,
.aura-colorful-frame:not(.aura-translucent-window)
	.workspace-tab-header-new-tab,
.aura-colorful-frame:not(.aura-translucent-window)
	.workspace-tab-header-new-tab
	.clickable-icon:hover,
.aura-colorful-frame:not(.aura-translucent-window):not(
		.aura-card-layout-actions
	).aura-card-layout
	.workspace-ribbon
	.side-dock-actions
	> .clickable-icon,
.aura-colorful-frame:not(.aura-translucent-window):not(
		.aura-card-layout-actions
	).aura-card-layout
	.workspace-ribbon
	.side-dock-settings
	> .clickable-icon,
.aura-colorful-frame.aura-card-layout:not(.aura-translucent-window):not(
		.aura-card-layout-fileexplorer
	)
	.mod-left-split
	.workspace-tabs.mod-top
	.tree-item
	> .tree-item-self,
.aura-colorful-frame.aura-card-layout:not(.aura-translucent-window):not(
		.aura-card-layout-fileexplorer
	)
	.workspace-tabs.mod-top
	.nav-header
	> .nav-buttons-container,
.aura-colorful-frame:not(.aura-translucent-window)
	.titlebar
	> .titlebar-inner
	> .titlebar-text,
.aura-colorful-frame 
	.workspace-tabs
	.workspace-tab-header-inner
	.workspace-tab-header-status-container > .workspace-tab-header-status-icon {
	color: rgb(var(--cpt-black)) !important;
	--icon-color: rgb(var(--cpt-black)) !important;
	--icon-color-hover: rgb(var(--cpt-black)) !important;
	--icon-color-focused: rgb(var(--cpt-black)) !important;
	--tab-text-color-focused: rgb(var(--cpt-black)) !important;
	--tab-text-color-focused-active-current: rgb(var(--cpt-black)) !important;
}
.aura-colorful-frame .mod-top .workspace-tab-header.is-active,
.aura-colorful-frame .mod-top .workspace-tab-header:hover,
.aura-colorful-frame.aura-card-layout
	.workspace-tabs
	.workspace-tab-header.is-active,
.aura-colorful-frame.aura-card-layout
	.workspace-tabs
	.workspace-tab-header:hover,
.aura-colorful-frame .workspace-tab-header-tab-list .clickable-icon:hover,
.aura-colorful-frame .workspace-tab-header-new-tab .clickable-icon:hover,
.aura-colorful-frame .side-dock-ribbon .clickable-icon {
	--background-modifier-hover: rgba(var(--cpt-crust), 0.1);
}

.aura-colorful-frame:not(.aura-card-layout) .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
	--tab-container-background: rgb(var(--cpt-crust));
}

.aura-colorful-frame.aura-card-layout .workspace-tabs .workspace-leaf {
	background-color: transparent !important;
}

.aura-colorful-frame .titlebar-button-container {
	color: rgb(var(--cpt-black));
}

.aura-colorful-frame .sidebar-toggle-button {
	background-color: var(--background-primary);
	height: 35px;
	width: 44px;
	border-radius: 7px;
}

.aura-colorful-frame .sidebar-toggle-button.mod-left {
	margin-top: 2px;
	margin-left: 2px;
}

.aura-colorful-frame .sidebar-toggle-button.mod-right {
	margin-top: 2px;
}

.workspace-split.mod-vertical .workspace-tab-header-new-tab {
	margin-left: auto;
}
.workspace-split.mod-vertical .workspace-tab-header-spacer {
	display: none;
}
