.aura-css-classes .novel {
	--h1-font: "Noto Serif";
	--h2-font: "Noto Serif";
	--h3-font: "Noto Serif";
	--h4-font: "Noto Serif";
	--h5-font: "Noto Serif";
	--h6-font: "Noto Serif";
	--font-text: "Source Serif Pro", "Noto Serif", Georgia, "",
		"New Times Roman", serif;
}

.aura-css-classes .wide-note {
	--file-line-width: 100%;
}
