.aura-folder-icons .nav-folder .nav-folder-collapse-indicator {
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 24' fill='none' stroke='currentColor' stroke-linejoin='round' stroke-linecap='round' stroke-width='2'%3E%3Cpath d='M6 14l1.45-2.9A2 2 0 0 1 9.24 10H22a2 2 0 0 1 1.94 2.5l-1.55 6a2 2 0 0 1-1.94 1.5H4a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2h3.93a2 2 0 0 1 1.66.9l.82 1.2a2 2 0 0 0 1.66.9H20a2 2 0 0 1 2 2v2'/%3E%3C/svg%3E%0A");
	-webkit-mask-repeat: no-repeat;
	background-color: currentColor;
	height: 16px;
	width: 17px;
	margin-right: 4px;
}

.aura-folder-icons .nav-folder.is-collapsed .nav-folder-collapse-indicator {
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 24' fill='none' stroke='currentColor' stroke-linejoin='round' stroke-linecap='round' stroke-width='2'%3E%3Cpath d='M4 20h16a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.93a2 2 0 0 1-1.66-.9l-.82-1.2A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13c0 1.1.9 2 2 2z'/%3E%3Cpath d='M2 10h20' /%3E%3C/svg%3E%0A");
}

.aura-folder-icons .nav-folder-collapse-indicator svg.svg-icon {
	color: transparent !important;
}

.aura-file-icons .nav-file .nav-file-title[data-path]::before {
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z'/%3E%3Cpath d='M14 2v6h6'/%3E%3C/svg%3E%0A");
	-webkit-mask-repeat: no-repeat;
	background-color: currentColor;
	content: "";
	display: inline-flex;
	flex-shrink: 0;
	height: 16px;
	width: 16px;
	margin-right: 5px;
}

.aura-file-icons .nav-file .nav-file-title[data-path$=".md"]::before {
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z'/%3E%3Cpath d='M14 2v6h6m-4 5H8m8 4H8m2-8H8'/%3E%3C/svg%3E%0A");
	-webkit-mask-repeat: no-repeat;
}

.aura-file-icons .nav-file .nav-file-title[data-path$=".canvas"]::before {
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M3 3h7v9H3zm11 0h7v5h-7zm0 9h7v9h-7zM3 16h7v5H3z'/%3E%3C/svg%3E");
	-webkit-mask-repeat: no-repeat;
}

.aura-file-icons .nav-file .nav-file-title[data-path$=".svg"]::before,
.aura-file-icons .nav-file .nav-file-title[data-path$=".bmp"]::before,
.aura-file-icons .nav-file .nav-file-title[data-path$=".jpg"]::before,
.aura-file-icons .nav-file .nav-file-title[data-path$=".gif"]::before,
.aura-file-icons .nav-file .nav-file-title[data-path$=".webp"]::before,
.aura-file-icons .nav-file .nav-file-title[data-path$=".jpeg"]::before,
.aura-file-icons .nav-file .nav-file-title[data-path$=".png"]::before {
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z'/%3E%3Cpath d='M14 2v6h6'/%3E%3Ccircle cx='10' cy='13' r='2'/%3E%3Cpath d='m20 17-1.09-1.09a2 2 0 0 0-2.82 0L10 22'/%3E%3C/svg%3E%0A");
	-webkit-mask-repeat: no-repeat;
}

.aura-file-icons .nav-file .nav-file-title[data-path$=".mp3"]::before,
.aura-file-icons .nav-file .nav-file-title[data-path$=".wav"]::before,
.aura-file-icons .nav-file .nav-file-title[data-path$=".m4a"]::before,
.aura-file-icons .nav-file .nav-file-title[data-path$=".ogg"]::before,
.aura-file-icons .nav-file .nav-file-title[data-path$=".flac"]::before,
.aura-file-icons .nav-file .nav-file-title[data-path$=".3gp"]::before {
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M9 18V5l12-2v13M9 9l12-2'/%3E%3Ccircle cx='6' cy='18' r='3'/%3E%3Ccircle cx='18' cy='16' r='3'/%3E%3C/svg%3E");
	-webkit-mask-repeat: no-repeat;
}

.aura-file-icons .nav-file .nav-file-title[data-path$=".webm"]::before {
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='M10 8l6 4-6 4V8z'/%3E%3C/svg%3E");
	-webkit-mask-repeat: no-repeat;
}

.aura-file-icons .nav-file .nav-file-title[data-path$=".mp4"]::before,
.aura-file-icons .nav-file .nav-file-title[data-path$=".ogv"]::before,
.aura-file-icons .nav-file .nav-file-title[data-path$=".mov"]::before,
.aura-file-icons .nav-file .nav-file-title[data-path$=".mkv"]::before {
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M4 11v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8H4Z'/%3E%3Cpath d='m4 11-.88-2.87a2 2 0 0 1 1.33-2.5l11.48-3.5a2 2 0 0 1 2.5 1.32l.87 2.87L4 11.01Z'/%3E%3Cpath d='M6.6 4.99l3.38 4.2m1.88-5.81l3.38 4.2'/%3E%3C/svg%3E");
	-webkit-mask-repeat: no-repeat;
}

.aura-file-icons
	.nav-folder.mod-root
	> .nav-folder-children
	> .nav-file
	.nav-file-title {
	padding-left: var(--size-4-2);
}
