.aura-floating-titlebar:not(.is-mobile) {
	--title-bar-delay: 150ms;
	--title-bar-duration: 300ms;
	--title-bar-target-translate-y: 18px;
	--title-bar-translate-y: 40px;
	--title-bar-windows-fix: 5;
}
.aura-floating-titlebar:not(.is-mobile) .workspace-leaf-content .view-header {
	margin-top: calc(var(--title-bar-translate-y) * -1);
	position: relative;
	transition: transform var(--title-bar-duration) var(--title-bar-delay),
		margin-right 0s calc(var(--title-bar-duration) + var(--title-bar-delay)),
		padding 0s calc(var(--title-bar-duration) + var(--title-bar-delay));
}
.aura-floating-titlebar:not(.is-mobile):not(.mod-macos)
	.workspace-tabs:is(.mod-top-right-space, .mod-top-left-space)
	.workspace-leaf-content
	.view-header {
	margin-right: calc(var(--title-bar-windows-fix) * var(--frame-right-space));
	padding: 0;
}
.aura-floating-titlebar:not(.is-mobile):not(.mod-macos)
	.workspace-tabs:is(.mod-top-right-space, .mod-top-left-space)
	.workspace-leaf-content
	.view-header:is(:hover, :focus-within) {
	margin-right: 0;
	transition: transform var(--title-bar-duration) var(--title-bar-delay),
		margin-right 0s, padding 0s;
	padding: 0 var(--size-4-3);
}
.aura-floating-titlebar:not(.is-mobile):not(.mod-macos)
	.workspace-tabs:is(.mod-top-right-space, .mod-top-left-space)
	.workspace-leaf-content
	.view-header::before {
	width: calc(100% + var(--title-bar-windows-fix) * var(--frame-right-space));
	top: var(--header-height);
}
.aura-floating-titlebar:not(.is-mobile)
	.workspace-leaf-content
	.view-header::before {
	bottom: calc(var(--title-bar-target-translate-y) * -1);
	content: "";
	left: 0;
	position: absolute;
	top: 0;
	transition: transform var(--title-bar-duration) var(--title-bar-delay);
	width: 100%;
}
.aura-floating-titlebar:not(.is-mobile) .workspace-leaf-content .view-content {
	transition: transform var(--title-bar-duration) var(--title-bar-delay);
}
.aura-floating-titlebar:not(.is-mobile)
	.workspace-leaf-content
	.view-header:is(:hover, :focus-within)::before {
	transform: translateY(var(--title-bar-target-translate-y));
}
.aura-floating-titlebar:not(.is-mobile)
	.workspace-leaf-content
	.view-header:is(:hover, :focus-within),
.aura-floating-titlebar:not(.is-mobile)
	.workspace-leaf-content
	.view-header:is(:hover, :focus-within)
	+ .view-content {
	transform: translateY(var(--title-bar-translate-y));
}
.aura-floating-titlebar:not(.is-mobile)
	.workspace-leaf-content
	.view-header:not(:hover, :focus-within)
	.clickable-icon {
	app-region: drag;
}
.aura-floating-titlebar:not(.is-mobile) .view-header::before {
	z-index: 0;
}
.aura-floating-titlebar:not(.is-mobile) .view-header > div {
	z-index: 1;
}
.aura-floating-titlebar:not(.is-mobile) .view-header-title {
	--file-header-font-size: var(--font-ui-medium);
}
