.aura-heading-color {
	--h1-color: rgb(var(--cpt-red));
	--h2-color: rgb(var(--cpt-orange));
	--h3-color: rgb(var(--cpt-yellow));
	--h4-color: rgb(var(--cpt-green));
	--h5-color: rgb(var(--cpt-blue));
	--h6-color: rgb(var(--cpt-purple));
}
.aura-heading-color.theme-dark.aura-colorschemes-dark-mystical-nights {
	--h1-color: rgb(var(--cpt-pink));
	--h2-color: rgb(var(--cpt-purple));
	--h3-color: rgb(var(--cpt-blue));
	--h4-color: rgb(var(--cpt-orange));
	--h5-color: rgb(var(--cpt-red));
	--h6-color: rgb(var(--cpt-green));
}
.aura-h1-red {
	--h1-color: rgb(var(--cpt-red));
}
.aura-h1-orange {
	--h1-color: rgb(var(--cpt-orange));
}
.aura-h1-yellow {
	--h1-color: rgb(var(--cpt-yellow));
}
.aura-h1-green {
	--h1-color: rgb(var(--cpt-green));
}
.aura-h1-cyan {
	--h1-color: rgb(var(--cpt-cyan));
}
.aura-h1-blue {
	--h1-color: rgb(var(--cpt-blue));
}
.aura-h1-pink {
	--h1-color: rgb(var(--cpt-pink));
}
.aura-h1-purple {
	--h1-color: rgb(var(--cpt-purple));
}
.aura-h2-red {
	--h2-color: rgb(var(--cpt-red));
}
.aura-h2-orange {
	--h2-color: rgb(var(--cpt-orange));
}
.aura-h2-yellow {
	--h2-color: rgb(var(--cpt-yellow));
}
.aura-h2-green {
	--h2-color: rgb(var(--cpt-green));
}
.aura-h2-cyan {
	--h2-color: rgb(var(--cpt-cyan));
}
.aura-h2-blue {
	--h2-color: rgb(var(--cpt-blue));
}
.aura-h2-pink {
	--h2-color: rgb(var(--cpt-pink));
}
.aura-h2-purple {
	--h2-color: rgb(var(--cpt-purple));
}
.aura-h3-red {
	--h3-color: rgb(var(--cpt-red));
}
.aura-h3-orange {
	--h3-color: rgb(var(--cpt-orange));
}
.aura-h3-yellow {
	--h3-color: rgb(var(--cpt-yellow));
}
.aura-h3-green {
	--h3-color: rgb(var(--cpt-green));
}
.aura-h3-cyan {
	--h3-color: rgb(var(--cpt-cyan));
}
.aura-h3-blue {
	--h3-color: rgb(var(--cpt-blue));
}
.aura-h3-pink {
	--h3-color: rgb(var(--cpt-pink));
}
.aura-h3-purple {
	--h3-color: rgb(var(--cpt-purple));
}
.aura-h4-red {
	--h4-color: rgb(var(--cpt-red));
}
.aura-h4-orange {
	--h4-color: rgb(var(--cpt-orange));
}
.aura-h4-yellow {
	--h4-color: rgb(var(--cpt-yellow));
}
.aura-h4-green {
	--h4-color: rgb(var(--cpt-green));
}
.aura-h4-cyan {
	--h4-color: rgb(var(--cpt-cyan));
}
.aura-h4-blue {
	--h4-color: rgb(var(--cpt-blue));
}
.aura-h4-pink {
	--h4-color: rgb(var(--cpt-pink));
}
.aura-h4-purple {
	--h4-color: rgb(var(--cpt-purple));
}
.aura-h5-red {
	--h5-color: rgb(var(--cpt-red));
}
.aura-h5-orange {
	--h5-color: rgb(var(--cpt-orange));
}
.aura-h5-yellow {
	--h5-color: rgb(var(--cpt-yellow));
}
.aura-h5-green {
	--h5-color: rgb(var(--cpt-green));
}
.aura-h5-cyan {
	--h5-color: rgb(var(--cpt-cyan));
}
.aura-h5-blue {
	--h5-color: rgb(var(--cpt-blue));
}
.aura-h5-pink {
	--h5-color: rgb(var(--cpt-pink));
}
.aura-h5-purple {
	--h5-color: rgb(var(--cpt-purple));
}
.aura-h6-red {
	--h6-color: rgb(var(--cpt-red));
}
.aura-h6-orange {
	--h6-color: rgb(var(--cpt-orange));
}
.aura-h6-yellow {
	--h6-color: rgb(var(--cpt-yellow));
}
.aura-h6-green {
	--h6-color: rgb(var(--cpt-green));
}
.aura-h6-cyan {
	--h6-color: rgb(var(--cpt-cyan));
}
.aura-h6-blue {
	--h6-color: rgb(var(--cpt-blue));
}
.aura-h6-pink {
	--h6-color: rgb(var(--cpt-pink));
}
.aura-h6-purple {
	--h6-color: rgb(var(--cpt-purple));
}
