.aura-neon-list .markdown-preview-section .list-bullet {
    box-shadow: 0 0 0.5em var(--cpt-marker-shadow);
}

.aura-neon-list .list-bullet:after {
    box-shadow: 0 0 0.5em var(--cpt-marker-shadow);
}

.aura-neon-list .markdown-preview-section .list-number {
    text-shadow: 0 0 0.5em var(--cpt-marker-shadow);
}

.aura-neon-list ol > li::marker, ul > li::marker {
    text-shadow: 0 0 0.5em var(--cpt-marker-shadow);
}