.aura-rainbow-tags a.tag {
	font-weight: bold;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
	display: inline-block;
}

.aura-rainbow-tags a.tag:hover,
.aura-rainbow-tags a.tag:focus {
	transform: translateY(-0.25em);
}

.aura-rainbow-tags p > a.tag:nth-child(7n + 1) {
	color: rgb(var(--cpt-red));
}

.aura-rainbow-tags p > a.tag:nth-child(7n + 2) {
	color: rgb(var(--cpt-orange));
}

.aura-rainbow-tags p > a.tag:nth-child(7n + 3) {
	color: rgb(var(--cpt-yellow));
}

.aura-rainbow-tags p > a.tag:nth-child(7n + 4) {
	color: rgb(var(--cpt-green));
}

.aura-rainbow-tags p > a.tag:nth-child(7n + 5) {
	color: rgb(var(--cpt-cyan));
}
.aura-rainbow-tags p > a.tag:nth-child(7n + 6) {
	color: rgb(var(--cpt-blue));
}

.aura-rainbow-tags p > a.tag:nth-child(7n + 7) {
	color: rgb(var(--cpt-purple));
}
