/* Rainbow Folders */
.aura-rainbow-folders .nav-folder-title,
.aura-rainbow-folders .nav-folder-collapse-indicator,
.aura-rainbow-folders
	.tree-item.nav-folder
	> .tree-item-children.nav-folder-children
	> .tree-item.nav-file
	> .tree-item-self.is-clickable.nav-file-title {
	color: var(--text-on-accent-inverted);
	--nav-collapse-icon-color: var(--text-on-accent-inverted);
	--nav-collapse-icon-color-collapsed: var(--text-on-accent-inverted);
	--nav-item-color: var(--text-on-accent-inverted);
	--nav-item-color-hover: var(--text-on-accent-inverted);
	--nav-item-color-highlighted: var(--text-on-accent-inverted);
}

.aura-rainbow-folders .nav-file-tag {
	color: rgb(var(--cpt-text));
}

.aura-rainbow-folders
	.nav-files-container
	> .tree-item.nav-folder
	> .tree-item-children
	> .tree-item.nav-file {
	background-color: rgb(var(--cpt-white));
}

.aura-rainbow-folders
	.nav-folder.mod-root
	> .nav-folder-children
	> .nav-folder:nth-child(8n + 2) {
	background-color: rgb(var(--cpt-red));
	border-color: rgb(var(--cpt-red));
	border-radius: 5px;
	margin-top: 2px;
}
.aura-rainbow-folders
	.nav-folder.mod-root
	> .nav-folder-children
	> .nav-folder:nth-child(8n + 3) {
	background-color: rgb(var(--cpt-orange));
	border-color: rgb(var(--cpt-orange));
	border-radius: 5px;
	margin-top: 2px;
}
.aura-rainbow-folders
	.nav-folder.mod-root
	> .nav-folder-children
	> .nav-folder:nth-child(8n + 4) {
	background-color: rgb(var(--cpt-yellow));
	border-color: rgb(var(--cpt-yellow));
	border-radius: 5px;
	margin-top: 2px;
}
.aura-rainbow-folders
	.nav-folder.mod-root
	> .nav-folder-children
	> .nav-folder:nth-child(8n + 5) {
	background-color: rgb(var(--cpt-green));
	border-color: rgb(var(--cpt-green));
	border-radius: 5px;
	margin-top: 2px;
}
.aura-rainbow-folders
	.nav-folder.mod-root
	> .nav-folder-children
	> .nav-folder:nth-child(8n + 6) {
	background-color: rgb(var(--cpt-cyan));
	border-color: rgb(var(--cpt-cyan));
	border-radius: 5px;
	margin-top: 2px;
}
.aura-rainbow-folders
	.nav-folder.mod-root
	> .nav-folder-children
	> .nav-folder:nth-child(8n + 7) {
	background-color: rgb(var(--cpt-blue));
	border-color: rgb(var(--cpt-blue));
	border-radius: 5px;
	margin-top: 2px;
}
.aura-rainbow-folders
	.nav-folder.mod-root
	> .nav-folder-children
	> .nav-folder:nth-child(8n + 8) {
	background-color: rgb(var(--cpt-pink));
	border-color: rgb(var(--cpt-pink));
	border-radius: 5px;
	margin-top: 2px;
}
.aura-rainbow-folders
	.nav-folder.mod-root
	> .nav-folder-children
	> .nav-folder:nth-child(8n + 9) {
	background-color: rgb(var(--cpt-purple));
	border-color: rgb(var(--cpt-purple));
	border-radius: 5px;
	margin-top: 2px;
}
.aura-rainbow-folders.aura-colorschemes-dark-mystical-nights
	.nav-folder.mod-root
	> .nav-folder-children
	> .nav-folder:nth-child(8n + 2) {
	background-color: rgb(var(--cpt-pink));
	border-color: rgb(var(--cpt-pink));
	border-radius: 5px;
	margin-top: 2px;
}
.aura-rainbow-folders.aura-colorschemes-dark-mystical-nights
	.nav-folder.mod-root
	> .nav-folder-children
	> .nav-folder:nth-child(8n + 3) {
	background-color: rgb(var(--cpt-purple));
	border-color: rgb(var(--cpt-purple));
	border-radius: 5px;
	margin-top: 2px;
}
.aura-rainbow-folders.aura-colorschemes-dark-mystical-nights
	.nav-folder.mod-root
	> .nav-folder-children
	> .nav-folder:nth-child(8n + 4) {
	background-color: rgb(var(--cpt-blue));
	border-color: rgb(var(--cpt-blue));
	border-radius: 5px;
	margin-top: 2px;
}
.aura-rainbow-folders.aura-colorschemes-dark-mystical-nights
	.nav-folder.mod-root
	> .nav-folder-children
	> .nav-folder:nth-child(8n + 5) {
	background-color: rgb(var(--cpt-cyan));
	border-color: rgb(var(--cpt-cyan));
	border-radius: 5px;
	margin-top: 2px;
}
.aura-rainbow-folders.aura-colorschemes-dark-mystical-nights
	.nav-folder.mod-root
	> .nav-folder-children
	> .nav-folder:nth-child(8n + 6) {
	background-color: rgb(var(--cpt-orange));
	border-color: rgb(var(--cpt-orange));
	border-radius: 5px;
	margin-top: 2px;
}
.aura-rainbow-folders.aura-colorschemes-dark-mystical-nights
	.nav-folder.mod-root
	> .nav-folder-children
	> .nav-folder:nth-child(8n + 7) {
	background-color: rgb(var(--cpt-green));
	border-color: rgb(var(--cpt-green));
	border-radius: 5px;
	margin-top: 2px;
}
.aura-rainbow-folders.aura-colorschemes-dark-mystical-nights
	.nav-folder.mod-root
	> .nav-folder-children
	> .nav-folder:nth-child(8n + 8) {
	background-color: rgb(var(--cpt-red));
	border-color: rgb(var(--cpt-red));
	border-radius: 5px;
	margin-top: 2px;
}
.aura-rainbow-folders.aura-colorschemes-dark-mystical-nights
	.nav-folder.mod-root
	> .nav-folder-children
	> .nav-folder:nth-child(8n + 9) {
	background-color: rgb(var(--cpt-purple));
	border-color: rgb(var(--cpt-purple));
	border-radius: 5px;
	margin-top: 2px;
}

.aura-rainbow-folders.aura-colorful-frame.aura-card-layout .mod-left-split .nav-files-container > .mod-root > .tree-item-children > .tree-item.nav-folder {
	border: 1px solid rgb(var(--cpt-crust));
}