.aura-sliding-tabs {
	--tab-stacked-pane-width: 900px;
	--file-line-width: 700px;
	--file-margins: var(--size-4-6);
}

.aura-sliding-tabs .workspace .mod-root .workspace-tabs.mod-stacked .workspace-tab-container > * {
	position: initial;
}