/* Toggle Metadata */
.aura-toggle-metadata .frontmatter-container,
.markdown-rendered.hide-metadata .frontmatter-container {
	display: none;
}

/* Toggle tooltips */
.aura-tooltips-toggle .tooltip {
	display: none;
}

/* Table */
body:not(.table-width-obsidian-default) .markdown-source-view.mod-cm6 .cm-table-widget .table-wrapper,
body:not(.table-width-obsidian-default) :is(.markdown-rendered, .markdown-source-view.mod-cm6.is-live-preview) table {
	width: 100% !important;
}

.table-width-customized .markdown-source-view.mod-cm6.is-live-preview .cm-content>.cm-table-widget,
.table-width-customized .markdown-rendered .markdown-preview-sizer>div:has(>table) {
	overflow: auto;
	width: var(--table-width) !important;
	margin-left: calc((var(--table-width) - 100%) / -2) !important;
}
