/* Folders */
body:not(.is-grabbing) .tree-item-self.is-active:hover,
.tree-item-self.is-active,
body:not(.is-grabbing) .tree-item-self.is-clickable:hover {
	background: rgba(var(--cpt-core), 0.2);
}

/* Hide vault name */
.aura-vault-name-toggle .nav-folder.mod-root > .nav-folder-title {
	display: none;
}
