body {
    --scrollbar-active-thumb-bg: rgba(var(--cpt-crust), 0.7);
    --scrollbar-thumb-bg: rgba(var(--cpt-crust), 0.5);
}

.aura-scrollbar-toggle *::-webkit-scrollbar {
    display: none;
}

button {
    border: 1px soild rgb(var(--cpt-crust));
}