/* Dark Theme */
.theme-dark.aura-colorschemes-dark-amoled-black {
	--cpt-crust: 4, 4, 4;
	--cpt-crust-alt: 6, 6, 6;
	--cpt-mantle: 2, 2, 2;
	--cpt-mantle-alt: 4, 4, 4;
	--cpt-core: 0, 0, 0;
	--cpt-core-alt: 2, 2, 2;

	--cpt-aura: var(--cpt-purple);
	--cpt-red: 247, 118, 142;
	--cpt-orange: 255, 158, 100;
	--cpt-yellow: 224, 175, 104;
	--cpt-green: 158, 206, 106;
	--cpt-cyan: 115, 218, 202;
	--cpt-blue: 42, 195, 222;
	--cpt-pink: 244, 154, 247;
	--cpt-purple: 187, 154, 247;
	--cpt-black: 52, 59, 88;
	--cpt-white: 169, 177, 214;
}
