/* Dark Mode */
.theme-dark.aura-colorschemes-dark-dracula {
   --cpt-crust: 22, 23, 33;
   --cpt-crust-alt: 19, 19, 19;
   --cpt-mantle: 33, 34, 44;
   --cpt-mantle-alt: 36, 36, 46;
   --cpt-core: 40, 42, 54;
   --cpt-core-alt: 42, 44, 56;

   --cpt-text: 240, 240, 240;
   --cpt-border: 50, 50, 50;

   --cpt-aura: var(--cpt-purple);
   --cpt-red: 255, 85, 85;
   --cpt-orange: 255, 184, 108;
   --cpt-yellow: 241, 250, 140;
   --cpt-green: 80, 250, 123;
   --cpt-cyan: 139, 233, 253;
   --cpt-blue: 95, 126, 222;
   --cpt-pink: 235, 0, 235;
   --cpt-purple: 189, 147, 249;
}
