/* Light Mode */
.theme-light.aura-colorschemes-light-gruvbox {
   --cpt-crust: 242, 229, 188;
   --cpt-crust-alt: 225, 228, 230;
   --cpt-mantle: 230, 220, 196;
   --cpt-mantle-alt: 245, 245, 247;
   --cpt-core: 249, 245, 215;
   --cpt-core-alt: 253, 253, 253;

   --cpt-aura: var(--cpt-red);
   --cpt-red: 204, 36, 29;
   --cpt-orange: 214, 93, 14;
   --cpt-yellow: 215, 153, 33;
   --cpt-green: 152, 151, 26;
   --cpt-cyan: 69, 133, 136;
   --cpt-blue: 69, 90, 136;
   --cpt-pink: 235, 0, 235;
   --cpt-purple: 177, 98, 134;
   --cpt-black: 10, 10, 10;
   --cpt-white: 240, 240, 240;
}

/* Dark Mode */
.theme-dark.aura-colorschemes-dark-gruvbox {
   --cpt-crust: 25, 27, 28;
   --cpt-crust-alt: 16, 16, 24;
   --cpt-mantle: 29, 32, 33;
   --cpt-mantle-alt: 32, 32, 36;
   --cpt-core: 40, 40, 40;
   --cpt-core-alt: 42, 42, 42;

   --cpt-text: 240, 240, 240;
   --cpt-border: 50, 50, 50;

   --cpt-aura: var(--cpt-orange);
   --cpt-red: 204, 36, 29;
   --cpt-orange: 214, 93, 14;
   --cpt-yellow: 215, 153, 33;
   --cpt-green: 152, 151, 26;
   --cpt-blue: 69, 133, 136;
   --cpt-pink: 235, 0, 235;
   --cpt-purple: 177, 98, 134;
}
