/* Light Mode */
.theme-light.aura-colorschemes-light-kanagawa {
	--cpt-crust: 255, 245, 190;
	--cpt-crust-alt: 253, 243, 188;
	--cpt-mantle: 200, 192, 147;
	--cpt-mantle-alt: 198, 190, 145;
	--cpt-core: 220, 215, 186;
	--cpt-core-alt: 218, 213, 184;

	--cpt-text: 22, 22, 29;

	--cpt-aura: var(--cpt-yellow);
	--cpt-red: 255, 93, 98;
	--cpt-orange: 255, 160, 102;
	--cpt-yellow: 230, 195, 132;
	--cpt-green: 152, 187, 108;
	--cpt-cyan: 127, 180, 202;
	--cpt-blue: 126, 156, 216;
	--cpt-pink: 210, 126, 153;
	--cpt-purple: 149, 127, 184;
}

/* Dark Mode */
.theme-dark.aura-colorschemes-dark-kanagawa {
	--cpt-crust: 15, 15, 22;
	--cpt-crust-alt: 16, 16, 24;
	--cpt-mantle: 22, 22, 29;
	--cpt-mantle-alt: 23, 23, 31;
	--cpt-core: 31, 31, 40;
	--cpt-core-alt: 32, 32, 42;

	--cpt-text: 244, 247, 210;
	--cpt-border: 50, 50, 50;

	--cpt-aura: var(--cpt-yellow);
	--cpt-red: 255, 93, 98;
	--cpt-orange: 255, 160, 102;
	--cpt-yellow: 230, 195, 132;
	--cpt-green: 152, 187, 108;
	--cpt-cyan: 127, 180, 202;
	--cpt-blue: 126, 156, 216;
	--cpt-pink: 210, 126, 153;
	--cpt-purple: 149, 127, 184;
}
