/* Dark Theme */
.theme-dark.aura-colorschemes-dark-mystical-nights {
	--cpt-crust: 9, 0, 15;
	--cpt-crust-alt: 12, 3, 18;
	--cpt-mantle: 12, 3, 19;
	--cpt-mantle-alt: 17, 7, 25;
	--cpt-core: 17, 7, 25;
	--cpt-core-alt: 21, 10, 28;

	--cpt-text: 226, 122, 255;
	--cpt-border: 44, 25, 49;
	--background-modifier-border-focus: rgba(var(--cpt-crust), 0.5);

	--cpt-aura: var(--cpt-pink);
	--cpt-red: 255, 85, 85;
	--cpt-orange: 255, 184, 108;
	--cpt-yellow: 217, 163, 31;
	--cpt-green: 80, 250, 123;
	--cpt-blue: 125, 164, 247;
	--cpt-cyan: 148, 235, 255;
	--cpt-pink: 255, 121, 198;
	--cpt-purple: 189, 147, 249;
}
