/* Light Mode */
.theme-light.aura-colorschemes-light-nord {
	--cpt-crust: 236, 239, 244;
	--cpt-crust-alt: 234, 237, 242;
	--cpt-mantle: 229, 233, 240;
	--cpt-mantle-alt: 227, 231, 238;
	--cpt-core: 216, 222, 233;
	--cpt-core-alt: 214, 220, 231;

	--cpt-aura: var(--cpt-blue);
	--cpt-red: 191, 97, 106;
	--cpt-orange: 208, 135, 112;
	--cpt-yellow: 235, 203, 139;
	--cpt-green: 163, 190, 140;
	--cpt-cyan: 136, 192, 208;
	--cpt-blue: 94, 129, 172;
	--cpt-pink: 180, 142, 173;
	--cpt-purple: 164, 127, 199;
	--cpt-black: 10, 10, 10;
	--cpt-white: 240, 240, 240;
}


/* Dark Mode */
.theme-dark.aura-colorschemes-dark-nord {
	--cpt-crust: 46, 52, 64;
	--cpt-crust-alt: 44, 50, 62;
	--cpt-mantle: 59, 66, 82;
	--cpt-mantle-alt: 57, 64, 80;
	--cpt-core: 67, 76, 94;
	--cpt-core-alt: 65, 74, 92;
	
	--cpt-border: 76, 86, 106;

	--cpt-aura: var(--cpt-blue);
	--cpt-red: 191, 97, 106;
	--cpt-orange: 208, 135, 112;
	--cpt-yellow: 235, 203, 139;
	--cpt-green: 163, 190, 140;
	--cpt-cyan: 136, 192, 208;
	--cpt-blue: 94, 129, 172;
	--cpt-pink: 180, 142, 173;
	--cpt-purple: 164, 127, 199;
	--cpt-black: 10, 10, 10;
	--cpt-white: 240, 240, 240;
}
