/* Light Mode */
.theme-light.aura-colorschemes-light-notion {
   --cpt-crust: 227, 230, 232;
   --cpt-crust-alt: 225, 228, 230;
   --cpt-mantle: 247, 247, 245;
   --cpt-mantle-alt: 245, 245, 247;
   --cpt-core: 255, 255, 255;
   --cpt-core-alt: 253, 253, 253;

   --cpt-aura: var(--cpt-red);
   --cpt-red: 208, 66, 85;
   --cpt-orange: 213, 118, 52;
   --cpt-yellow: 229, 181, 103;
   --cpt-green: 168, 195, 115;
   --cpt-cyan: 50, 181, 185;
   --cpt-blue: 112, 122, 250;
   --cpt-pink: 235, 0, 235;
   --cpt-purple: 147, 134, 200;
   --cpt-black: 10, 10, 10;
   --cpt-white: 240, 240, 240;
}

/* Dark Mode */
.theme-dark.aura-colorschemes-dark-notion {
   --cpt-crust: 32, 32, 32;
   --cpt-crust-alt: 30, 30, 30;
   --cpt-mantle: 39, 39, 39;
   --cpt-mantle-alt: 37, 37, 37;
   --cpt-core: 25, 25, 25;
   --cpt-core-alt: 23, 23, 23;
   
   --cpt-aura: var(--cpt-red);
   --cpt-red: 208, 66, 85;
   --cpt-orange: 213, 118, 52;
   --cpt-yellow: 229, 181, 103;
   --cpt-green: 168, 195, 115;
   --cpt-cyan: 50, 181, 185;
   --cpt-blue: 112, 122, 250;
   --cpt-pink: 235, 0, 235;
   --cpt-purple: 147, 134, 200;
   --cpt-black: 10, 10, 10;
   --cpt-white: 240, 240, 240;
}
