/* Light Mode */
.theme-light.aura-colorschemes-light-rose-pine {
   --cpt-crust: 250, 244, 237;  
   --cpt-crust-alt: 248, 242, 235;
   --cpt-mantle: 253, 248, 241;    
   --cpt-mantle-alt: 253, 248, 241;
   --cpt-core: 242, 233, 222;
   --cpt-core-alt: 240, 231, 220;

   --cpt-text: 87, 82, 121;
   --cpt-border: 206, 202, 205;

   --cpt-aura: var(--cpt-yellow);
   --cpt-red: 180, 99, 122;
   --cpt-orange: 215, 130, 125;
   --cpt-yellow: 234, 157, 53;
   --cpt-green: 87, 159, 129;
   --cpt-cyan: 106, 195, 212;
   --cpt-blue: 55, 148, 185;
   --cpt-pink: 144, 122, 169;
   --cpt-purple: 144, 122, 169;
   --cpt-black: 10, 10, 10;
   --cpt-white: 240, 240, 240;
}

/* Dark Mode */
.theme-dark.aura-colorschemes-dark-rose-pine {
   --cpt-crust: 25, 23, 36;  
   --cpt-crust-alt: 23, 21, 34;  
   --cpt-mantle: 31, 29, 46;    
   --cpt-mantle-alt: 29, 27, 44;
   --cpt-core: 38, 35, 58;
   --cpt-core-alt: 36, 33, 56;

   --cpt-text: 224, 222, 244;
   --cpt-border: 64, 61, 82;

   --cpt-aura: var(--cpt-yellow);
   --cpt-red: 180, 99, 122;
   --cpt-orange: 215, 130, 125;
   --cpt-yellow: 234, 157, 53;
   --cpt-green: 87, 159, 129;
   --cpt-cyan: 106, 195, 212;
   --cpt-blue: 55, 148, 185;
   --cpt-pink: 144, 122, 169;
   --cpt-purple: 144, 122, 169;
   --cpt-black: 10, 10, 10;
   --cpt-white: 224, 222, 244;
}