/* Light Theme */
.theme-light.aura-colorschemes-light-solarized {
	--cpt-crust: 228, 222, 203;
	--cpt-crust-alt: 225, 220, 200;
	--cpt-mantle: 238, 232, 213;
	--cpt-mantle-alt: 235, 230, 210;
	--cpt-core: 253, 246, 227;
	--cpt-core-alt: 250, 243, 225;

	--cpt-aura: var(--cpt-blue);
	--cpt-red: 220, 50, 47;
	--cpt-orange: 227, 131, 89;
	--cpt-yellow: 181, 137, 0;
	--cpt-green: 133, 153, 0;
	--cpt-blue: 38, 139, 210;
	--cpt-pink: 235, 0, 235;
	--cpt-purple: 108, 113, 196;
	--cpt-black: 10, 10, 10;
	--cpt-white: 240, 240, 240;
}

/* Dark Theme */
.theme-dark.aura-colorschemes-dark-solarized {
	--cpt-crust: 0, 37, 50;
	--cpt-crust-alt: 0, 35, 48;
	--cpt-mantle: 0, 43, 54;
	--cpt-mantle-alt: 0, 41, 52;
	--cpt-core: 7, 54, 66;
	--cpt-core-alt: 5, 52, 64;

	--cpt-text: 240, 240, 240;
	--cpt-border: 0, 35, 45;

	--cpt-aura: var(--cpt-red);
	--cpt-red: 220, 50, 47;
	--cpt-orange: 227, 131, 89;
	--cpt-yellow: 181, 137, 0;
	--cpt-green: 133, 153, 0;
	--cpt-blue: 38, 139, 210;
	--cpt-pink: 235, 0, 235;
	--cpt-purple: 108, 113, 196;
}
